<table>
<tr>
  <th>Bill Amount</th>
  <th>Bill Date</th>
  <th>Contact</th>
  <th>Paid Amount</th>
  <th>Paid Date</th>
</tr>
{% for b in obj %}
<tr>
  <td>{{ b.billamount }}</td>
  <td>{{ b.billdate }}</td>
  <td>{{ b.commstype }}</td>
  <td>{{ b.paidamount }}</td>
  <td>{{ b.paiddate }}</td>
</tr>
{% endfor %}
</table>
<br>
<br>
<b>Collection rates:</b>
<br>
Mail: {{ collection_rate_mail }}
<br>
Text: {{ collection_rate_text }}
<br>
Email: {{ collection_rate_email }}
<br>
<br>
<b>Average time to collect:</b>
<br>
Mail: {{ avg_time_to_collect_mail }} hours
<br>
Text: {{ avg_time_to_collect_text }} hours
<br>
Email: {{ avg_time_to_collect_email }} hours
